
.touch ._3m1l {
  max-width: 100px !important;
}
.touch ._3m1l {
  display: none !important;
}
header._5yxt._5qc1._177o {
  display: none !important;
}
._6tgo {
  display: none !important;
}
._53mw {
  max-width: 400px !important;
}
._412_ {
  max-width: 200px !important;
}
._5rgt {
  max-width: 400px !important;
}
._2a_g ._uwt {
  margin-top: -10px !important;
}
._5gh8._5rgr {
  margin: 0 0 8px;
  padding-left: 30px;
  padding-right: 30px;
}
